In [47]:
import pandas as pd

In [48]:
raw_data = pd.read_csv('./FinancialSample.csv',delimiter=';')

In [49]:
raw_data.head(10)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"1618,5","$3,00","$20,00","$32.370,00",$-,"$32.370,00","$16.185,00","$16.185,00",01.01.2014,1,January,2014
1,Government,Germany,Carretera,None,1321,"$3,00","$20,00","$26.420,00",$-,"$26.420,00","$13.210,00","$13.210,00",01.01.2014,1,January,2014
2,Midmarket,France,Carretera,None,2178,"$3,00","$15,00","$32.670,00",$-,"$32.670,00","$21.780,00","$10.890,00",01.06.2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888,"$3,00","$15,00","$13.320,00",$-,"$13.320,00","$8.880,00","$4.440,00",01.06.2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470,"$3,00","$15,00","$37.050,00",$-,"$37.050,00","$24.700,00","$12.350,00",01.06.2014,6,June,2014
5,Government,Germany,Carretera,None,1513,"$3,00","$350,00","$529.550,00",$-,"$529.550,00","$393.380,00","$136.170,00",01.12.2014,12,December,2014
6,Midmarket,Germany,Montana,None,921,"$5,00","$15,00","$13.815,00",$-,"$13.815,00","$9.210,00","$4.605,00",01.03.2014,3,March,2014
7,Channel Partners,Canada,Montana,None,2518,"$5,00","$12,00","$30.216,00",$-,"$30.216,00","$7.554,00","$22.662,00",01.06.2014,6,June,2014
8,Government,France,Montana,None,1899,"$5,00","$20,00","$37.980,00",$-,"$37.980,00","$18.990,00","$18.990,00",01.06.2014,6,June,2014
9,Channel Partners,Germany,Montana,None,1545,"$5,00","$12,00","$18.540,00",$-,"$18.540,00","$4.635,00","$13.905,00",01.06.2014,6,June,2014

In [50]:
raw_data.tail(10)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
690,Government,United States of America,VTT,High,267,"$250,00","$20,00","$5.340,00","$801,00","$4.539,00","$2.670,00","$1.869,00",01.10.2013,10,October,2013
691,Midmarket,Germany,VTT,High,1175,"$250,00","$15,00","$17.625,00","$2.643,75","$14.981,25","$11.750,00","$3.231,25",01.10.2014,10,October,2014
692,Enterprise,Canada,VTT,High,2954,"$250,00","$125,00","$369.250,00","$55.387,50","$313.862,50","$354.480,00","$(40.617,50)",01.11.2013,11,November,2013
693,Enterprise,Germany,VTT,High,552,"$250,00","$125,00","$69.000,00","$10.350,00","$58.650,00","$66.240,00","$(7.590,00)",01.11.2014,11,November,2014
694,Government,France,VTT,High,293,"$250,00","$20,00","$5.860,00","$879,00","$4.981,00","$2.930,00","$2.051,00",01.12.2014,12,December,2014
695,Small Business,France,Amarilla,High,2475,"$260,00","$300,00","$742.500,00","$111.375,00","$631.125,00","$618.750,00","$12.375,00",01.03.2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546,"$260,00","$300,00","$163.800,00","$24.570,00","$139.230,00","$136.500,00","$2.730,00",01.10.2014,10,October,2014
697,Government,Mexico,Montana,High,1368,"$5,00","$7,00","$9.576,00","$1.436,40","$8.139,60","$6.840,00","$1.299,60",01.02.2014,2,February,2014
698,Government,Canada,Paseo,High,723,"$10,00","$7,00","$5.061,00","$759,15","$4.301,85","$3.615,00","$686,85",01.04.2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806,"$250,00","$12,00","$21.672,00","$3.250,80","$18.421,20","$5.418,00","$13.003,20",01.05.2014,5,May,2014

In [51]:
raw_data.dtypes

Segment                  object
Country                  object
 Product                 object
 Discount Band           object
Units Sold               object
 Manufacturing Price     object
 Sale Price              object
 Gross Sales             object
 Discounts               object
  Sales                  object
 COGS                    object
 Profit                  object
Date                     object
Month Number              int64
 Month Name              object
Year                      int64
dtype: object

In [52]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                700 non-null    object
 1   Country                700 non-null    object
 2    Product               700 non-null    object
 3    Discount Band         700 non-null    object
 4   Units Sold             700 non-null    object
 5    Manufacturing Price   700 non-null    object
 6    Sale Price            700 non-null    object
 7    Gross Sales           700 non-null    object
 8    Discounts             700 non-null    object
 9     Sales                700 non-null    object
 10   COGS                  700 non-null    object
 11   Profit                700 non-null    object
 12  Date                   700 non-null    object
 13  Month Number           700 non-null    int64
 14   Month Name            700 non-null    object
 15  Year                   700 non-null    int64
dtypes: int64(2), object(14)
memory usage: 87.6+ KB

In [53]:
raw_data.sample(10)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
444,Government,United States of America,Paseo,Medium,973,"$10,00","$20,00","$19.460,00","$1.751,40","$17.708,60","$9.730,00","$7.978,60",01.03.2014,3,March,2014
484,Government,Germany,VTT,High,1870,"$250,00","$350,00","$654.500,00","$65.450,00","$589.050,00","$486.200,00","$102.850,00",01.12.2013,12,December,2013
133,Government,Germany,VTT,Low,2877,"$250,00","$350,00","$1.006.950,00","$20.139,00","$986.811,00","$748.020,00","$238.791,00",01.10.2014,10,October,2014
635,Government,Canada,Montana,High,388,"$5,00","$7,00","$2.716,00","$380,24","$2.335,76","$1.940,00","$395,76",01.09.2014,9,September,2014
373,Government,Germany,Paseo,Medium,1366,"$10,00","$20,00","$27.320,00","$2.185,60","$25.134,40","$13.660,00","$11.474,40",01.06.2014,6,June,2014
228,Midmarket,Mexico,Carretera,Medium,2791,"$3,00","$15,00","$41.865,00","$2.093,25","$39.771,75","$27.910,00","$11.861,75",01.11.2014,11,November,2014
454,Channel Partners,France,Amarilla,Medium,306,"$260,00","$12,00","$3.672,00","$330,48","$3.341,52","$918,00","$2.423,52",01.12.2013,12,December,2013
517,Government,Canada,Paseo,High,2394,"$10,00","$20,00","$47.880,00","$5.266,80","$42.613,20","$23.940,00","$18.673,20",01.08.2014,8,August,2014
41,Midmarket,Germany,VTT,None,888,"$250,00","$15,00","$13.320,00",$-,"$13.320,00","$8.880,00","$4.440,00",01.06.2014,6,June,2014
459,Enterprise,France,Carretera,High,1482,"$3,00","$125,00","$185.250,00","$18.525,00","$166.725,00","$177.840,00","$(11.115,00)",01.12.2013,12,December,2013

In [54]:
raw_data["Segment"]

0            Government
1            Government
2             Midmarket
3             Midmarket
4             Midmarket
             ...
695      Small Business
696      Small Business
697          Government
698          Government
699    Channel Partners
Name: Segment, Length: 700, dtype: object

In [55]:
raw_data["Segment"].shape

(700,)

In [56]:
raw_data.shape

(700, 16)

In [57]:
raw_data.loc[raw_data["Segment"] == "Government", "Segment"].head(1)

0    Government
Name: Segment, dtype: object

In [62]:
raw_data["Date"] = pd.to_datetime(raw_data["Date"])
raw_data["Date"].sample(10)

403   2014-01-06
274   2014-01-06
491   2014-01-09
229   2014-01-12
418   2013-01-10
172   2014-01-05
344   2014-01-09
446   2014-01-10
232   2014-01-07
499   2014-01-03
Name: Date, dtype: datetime64[ns]

In [71]:
from datetime import datetime

In [84]:
def tr(d):
    return d.strftime('%Y-%m-%d')

raw_data["Date"].transform(tr)

0      2014-01-01
1      2014-01-01
2      2014-01-06
3      2014-01-06
4      2014-01-06
          ...
695    2014-01-03
696    2014-01-10
697    2014-01-02
698    2014-01-04
699    2014-01-05
Name: Date, Length: 700, dtype: object

In [74]:
raw_data["Date"]

0     2014-01-01
1     2014-01-01
2     2014-01-06
3     2014-01-06
4     2014-01-06
         ...
695   2014-01-03
696   2014-01-10
697   2014-01-02
698   2014-01-04
699   2014-01-05
Name: Date, Length: 700, dtype: datetime64[ns]

In [99]:
raw_data = raw_data.rename(columns=lambda x: x.strip())

In [100]:
raw_data.loc[:,["Product","Profit","COGS","Sales"]]

         Product        Profit           COGS          Sales
0     Carretera    $16.185,00     $16.185,00     $32.370,00
1     Carretera    $13.210,00     $13.210,00     $26.420,00
2     Carretera    $10.890,00     $21.780,00     $32.670,00
3     Carretera     $4.440,00      $8.880,00     $13.320,00
4     Carretera    $12.350,00     $24.700,00     $37.050,00
..           ...           ...            ...            ...
695    Amarilla    $12.375,00    $618.750,00    $631.125,00
696    Amarilla     $2.730,00    $136.500,00    $139.230,00
697     Montana     $1.299,60      $6.840,00      $8.139,60
698       Paseo       $686,85      $3.615,00      $4.301,85
699         VTT    $13.003,20      $5.418,00     $18.421,20

[700 rows x 4 columns]